<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dummy</title>

    {{ '../../build/assets/templates/favicons.html' | content }}

    <script>
      window.card = {
        lang: 'de',
        message: 'wünschen wir euch allen!',
        signature: 'wir',
        company: 'voestalpine AG',
        department: 'Abteilung Weihnachten'
      };
    </script>
    <script src="js/Detector.js"></script>
    <script src="js/three.min.js"></script>
    <script src="js/MTLLoader.js"></script>
    <script src="js/OBJLoader.js"></script>

    <script src="js/anime.min.js"></script>
    <script src="js/howler.min.js"></script>

    <script src="js/createjs-2015.11.26.min.js"></script>
    <script src="assets/card/front.js"></script>
    <script src="assets/card/top.js"></script>
    <script src="assets/card/bottom.js"></script>
    <script src="js/animate.js"></script>

    <link rel="stylesheet" href="css/card.css">
  </head>
  <body class="loading">
    <canvas id="card-front"></canvas>
    <canvas id="card-top"></canvas>
    <canvas id="card-bottom"></canvas>

    <div id="loading-message">Ihre Weihnachtskarte wird geladen …</div>
    <!--div id="loading-message">Your christmas card is loading …</div-->

    <script src="js/card.js"></script>
  </body>
</html>