<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dummy</title>

    {{ '../../build/assets/templates/favicons.html' | content }}

    <script>
      window.card = {
        lang: 'de',
        message: 'wünschen wir euch allen!',
        signature: 'wir',
        company: 'voestalpine AG',
        department: 'Abteilung Weihnachten'
      };
    </script>

    <script src="js/createjs-2015.11.26.min.js"></script>
    <script src="assets/card/preview.js"></script>
    <script src="js/animate.js"></script>

    <link rel="stylesheet" href="css/preview.css">
  </head>
  <body>
    <canvas id="card-preview"></canvas>

    <script src="js/preview.js"></script>
  </body>
</html>