@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

#card-front,
#card-top,
#card-bottom {
  display: none;
}

body {
  background-color: #000000;

  #loading-message {
    display: none;
  }

  #view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }

  &.loading {
    background-color: #ffffff;

    #loading-message {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      max-width: calc(100% - 40px);
      padding-left: 60px;
      transform: translate(-50%, -50%);

      &:before {
        position: absolute;
        content: '';
        display: inline-block;
        left: 0;
        top: 50%;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        background-color: #0080b1;
        animation: sk-rotateplane 1.2s infinite ease-in-out;
        z-index: -1;
      }
    }

    #view {
      opacity: 0;
    }
  }
}