@font-face {
  font-family: 'voestalpine Light';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/voestalpine-Light-WebS.eot');
  src: url('../assets/fonts/voestalpine-Light-WebS.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/voestalpine-Light-WebS.woff') format('woff'),
  url('../assets/fonts/voestalpine-Light-WebS.ttf') format('truetype')
}

@font-face {
  font-family: 'voestalpine Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/voestalpine-Medium-WebS.eot');
  src: url('../assets/fonts/voestalpine-Medium-WebS.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/voestalpine-Medium-WebS.woff') format('woff'),
  url('../assets/fonts/voestalpine-Medium-WebS.ttf') format('truetype')
}